* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'freight big pro';
}

#main {
    background-color: black;
}

#loader {
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
    /* display: none; */
}

#loader h1 {
    font-size: 6.5vw;
    line-height: 5vw;
    font-weight: 300;
    position: relative;
    z-index: 9;
}

#loader video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}

#yellow {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(255, 234, 0);
    z-index: 8;
}

#yellow2 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(255, 234, 0);
    z-index: 7;
}

#page-1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 234, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page-1 h1 {
    font-size: 6.5vw;
    line-height: 5vw;
    font-weight: 300;
}

#nav {
    position: absolute;
    width: 100%;
    padding: 25px 40px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
}

#nav .navbar {
    display: flex;
    justify-content: space-between;
}

#nav .navbar p {
    padding: 0px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif\;
}

#nav svg {
    width: 80px;
}

#page-2 {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    transition: all 0.2s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.elem {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.elem .blur {
    position: absolute;
    width: 36%;
    height: 100%;
    left: 50%;
    top: 50%;
    background-color: rgb(255, 234, 0);
    transform: translate(-50%, -50%);
    z-index: 9;
    box-shadow: 0px 0px 30px 60px rgb(255, 234, 0);
}

.elem:hover .moving {
    transform: translate(0, -50%) scaleY(100%);
}

.elem:hover .moving .moving-text h5 {
    opacity: 1;
}

.elem h2 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 9;
    line-height: 5vw;
}

.elem h2:hover {
    font-style: italic;
}

.elem .moving {
    background-color: rgb(255, 234, 0);
    width: 100%;
    white-space: nowrap;
    padding: 3px 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scaleY(0);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.elem .moving .moving-text {
    background-color: none;
    white-space: nowrap;
    display: inline-block;
    animation-name: moving;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.elem .moving .moving-text h5 {
    color: black;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: 200;
    font-family: Arial, sans-serif;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

@keyframes moving {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page-3 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.img-container {
    padding: 30px 45px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-div {
    width: 30vw;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.img-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.101);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    z-index: 9;
}

.overlay p {
    font-size: 2.5vw;
    text-transform: uppercase;
    color: white;
    line-height: 2.5vw;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.img-div:hover .overlay {
    background-color: rgba(0, 0, 0, 0.757);
}

.img-div:hover .overlay p {
    opacity: 1;
}

.img-div:hover img {
    scale: 1.05;
}

#footer {
    height: 40vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    flex-direction: column;
}

#footer #foot {
    height: 55%;
    width: 100%;
    background-color: black;
}

#footer h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 1.2vw;
    cursor: pointer;
}

#foot {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
}

#foot .start {
    width: 30%;
}

#foot .end {
    width: 33%;
    display: flex;
    justify-content: space-between;
}